Perform the following operations using Python on any open source dataset (e.g., data.csv)
1. Provide a clear description of the data and its source.
2. Load the Dataset into pandas dataframe.
3. Data Preprocessing: check for missing values in the data using pandas isnull(), describe() 
function to get some initial statistics. Provide variable descriptions. Types of variables etc. 
Check the dimensions of the data frame.
4. Data Formatting and Data Normalization: Summarize the types of variables by checking
the data types (i.e., character, numeric, integer, factor, and logical) of the variables in the 
data set. If variables are not in the correct data type, apply proper type conversions.

In [1]:
#importing all library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("StudentsPerformance - StudentsPerformance.csv")

In [3]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72,74
1,female,group C,some college,standard,completed,69.0,90,88
2,female,group B,master's degree,standard,none,90.0,95,93
3,male,group A,associate's degree,free/reduced,none,47.0,57,44
4,male,group C,some college,standard,none,76.0,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88.0,99,95
996,male,group C,high school,free/reduced,none,62.0,55,55
997,female,group C,high school,free/reduced,completed,59.0,71,65
998,female,group D,some college,standard,completed,68.0,78,77
999,female,group D,some college,free/reduced,none,77.0,86,86

In [7]:
df.shape

(1000, 8)

In [5]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [6]:
df.dtypes

gender                          object
race/ethnicity                  object
parental level of education     object
lunch                           object
test preparation course         object
math score                     float64
reading score                    int64
writing score                    int64
dtype: object

In [8]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     2
reading score                  0
writing score                  0
dtype: int64

In [9]:
df['math score'].fillna(value=df['math score'].mean(),inplace=True)
df['writing score'].fillna(value=df['writing score'].mean(),inplace=True)
df['reading score'].fillna(value=df['reading score'].mean(),inplace=True)



df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [10]:
outliers = [] #outliers dict
def detect(df): #written a function detect which takes dataframe as input
    threshold = 3 # we taken max scattering range will 3 the z score value is greater than 3 will taken as outliers 
    mean = np.mean(df)
    std = np.std(df)
    
    for d in df:
        z_score = (d-mean)/std
        if np.abs(z_score) > threshold:
            outliers.append(d)
    return outliers

In [11]:
var='math score'

In [12]:
z_scores=detect(df[var])
outliers=df[df[var].isin(z_scores)]
outliers

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
17,female,group B,some high school,free/reduced,none,18.0,32,28
59,female,group C,some high school,free/reduced,none,0.0,17,10
787,female,group B,some college,standard,none,19.0,38,32
980,female,group B,high school,free/reduced,none,8.0,24,23

In [24]:
dfs = df[~df.index.isin(outliers.index)]

In [25]:
df.iloc[17]

gender                                   female
race/ethnicity                          group B
parental level of education    some high school
lunch                              free/reduced
test preparation course                    none
math score                                 18.0
reading score                                32
writing score                                28
Name: 17, dtype: object

In [15]:
dfs.skew(axis =0)

C:\Users\SAURABH\AppData\Local\Temp\ipykernel_6872\4029879126.py:1: FutureWarning: The default value of numeric_only in DataFrame.skew is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dfs.skew(axis =0)

math score      -0.128812
reading score   -0.200039
writing score   -0.221390
dtype: float64